In [1]:
%load_ext sql
from sqlalchemy import create_engine
from ipywidgets import interact, interactive, fixed, interact_manual
import pandas as pd
engine = create_engine('postgresql://postgres:ED2x7bC4GXcLC6duFzCmo4ygp@13.212.112.4:5432/ckb')

In [2]:
transaction_data = pd.read_sql('select * from aggron_subscribe_proposed_transaction order by time DESC limit 100 ',engine)
transaction_data

,network,time,hostname,transaction_hash
0,aggron,2021-07-13 02:02:09.741300,aggron-ohio,0x178388e2ec0d83fd1d400181eac77bd06d4486edeee9...
1,aggron,2021-07-13 02:02:09.672988,aggron-tokyo,0x178388e2ec0d83fd1d400181eac77bd06d4486edeee9...
2,aggron,2021-07-13 02:02:09.524541,aggron-virginia,0x178388e2ec0d83fd1d400181eac77bd06d4486edeee9...
3,aggron,2021-07-13 02:02:09.484030,aggron-california,0x178388e2ec0d83fd1d400181eac77bd06d4486edeee9...
4,aggron,2021-07-13 02:02:09.453099,aggron-singapore,0x178388e2ec0d83fd1d400181eac77bd06d4486edeee9...
...,...,...,...,...
95,aggron,2021-07-13 02:00:29.033850,aggron-sydney,0xbbcd955af2aaf666c8659966414fe0d789e60867050f...
96,aggron,2021-07-13 02:00:28.991636,aggron-frankfurt,0xb8959ec4bf2b5f05f9d3f2b4bedaf16b90a54aebe429...
97,aggron,2021-07-13 02:00:28.991506,aggron-frankfurt,0xbbcd955af2aaf666c8659966414fe0d789e60867050f...
98,aggron,2021-07-13 02:00:28.863773,aggron-hohhot,0xb8959ec4bf2b5f05f9d3f2b4bedaf16b90a54aebe429...
99,aggron,2021-07-13 02:00:28.863645,aggron-hohhot,0xbbcd955af2aaf666c8659966414fe0d789e60867050f...

In [3]:
def get_tx_pool_transcation(transaction_data,transaction_hash,hostname):
    transction_info = transaction_data
    for word in transaction_hash.split():
        transction_info = [transction_info['transaction_hash'].str.contains(word, case=False)]
    hostname_info = transction_info[transction_info['hostname']==hostname]
    return hostname_info

In [4]:
   interact(lambda transaction_hash, hostname:get_tx_pool_transcation(transaction_data,transaction_hash,hostname),
            transaction_hash='',
            hostname=list(transaction_data['hostname'].unique()))

interactive(children=(Text(value='', description='transaction_hash'), Dropdown(description='hostname', options…

In [5]:
import qgrid
import pandas
transaction_data = pd.read_sql('select * from aggron_subscribe_proposed_transaction order by time DESC limit 10 ',engine)
# transaction_data
widget = transaction_data.show_grid(transaction_data)
widget

AttributeError: 'DataFrame' object has no attribute 'show_grid'

In [ ]:
import qgrid
import pandas
url = 'https://github.com/chris1610/pbpython/blob/master/data/2018_Sales_Total_v2.xlsx?raw=True'
df = pd.read_excel(url)

widget = qgrid.show_grid(df)
widget

In [ ]:
transaction_data = pd.read_sql('select * from aggron_subscribe_proposed_transaction order by time DESC limit 10 ',engine)
from pivottablejs import pivot_ui
pivot_ui(transaction_data)

In [ ]:
from pandasgui import show
proposed_transaction = pd.read_sql('select * from aggron_subscribe_proposed_transaction order by time DESC limit 100',engine)
new_transaction = pd.read_sql('select * from aggron_subscribe_new_transaction order by time DESC limit 100',engine)
tx_transaction = pd.read_sql('select * from aggron_transaction order by enter_time DESC limit 100',engine)
show(tx_transaction,proposed_transaction,new_transaction)